
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
box-sizing: border-box;
background: #F3F5FC;
font-family: Inter;
font-weight: 300;
font-size: 32px;
line-height: 150%;


}

.logo {
    padding-top: 10px;
    margin-left: 40px;
    height: 50px;
}

main {
   display:flex;
    margin-bottom: 50px;
    margin-left: 80px;
    position: relative;
}

.text-area {
    border: none;
    color: #0A3871;
    margin: 20px auto;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;
}
.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 8px;
    justify-content: left;

}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid  #0A3871;
    border-radius: 24px;
    color:#0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid  #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid  #0A3871;
    color: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: relative;
    width: 336px;

}

.informacion {
    color: #495057;
    font-size: 18px;
}


footer{
    background: #0A3871;
    display: flex;
    justify-content: center;
}

.dev{
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 12px;
    font-family: inherit;

}

/* Media Queries */

/* Small devices (portrait phones) */
@media only screen and (max-width: 576px) {
    main {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  
    .mensaje {
      margin-left: 0;
      margin-top: 20px;
      width: 100%; /* Occupy full width */
      position: relative;
    }
  
    .btn-copiar {
      margin-left: 0;
      margin-top: 20px;
      width: 100%; /* Occupy full width */
      position: relative;
    }
  }
  
  /* Tablets (portrait and landscape) */
  @media only screen and (min-width: 577px) and (max-width: 1024px) {
    main {
      margin-left: 20%; /* Adjust as needed */
    }
  
    .primeraColumna,
    .segundaColumna {
      width: 40%; /* Equal column width on tablets */
    }
  
    .mensaje,
    .btn-copiar {
      width: 60%; /* Occupy full width */
    }
  }
  
  /* Notebooks and desktops */
  @media only screen and (min-width: 1025px) {
    main {
      margin-left: 5%; /* Adjust as needed */
    }
  
    .primeraColumna,
    .segundaColumna {
      width: 30%; /* Equal column width on larger screens */
    }
  
    .btn-copiar {
      margin-left: 0;
      margin-top: 20px; /* Adjust as needed */
      position: relative;
    }
  }
